{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
    <style>
        #display-question{
            size: 16px;
            
        }
    </style>
</head>

<body>
    <main id="quiz_attempt_main_container" class="quiz_main">
        <!-- creating a modal for when quiz ends -->
        <div class="modal-container" id="score-modal">

            <div class="modal-content-container">

                <h1>Congratulations, Quiz Completed.</h1>

                <div class="grade-details">
                    <p>Attempts : 10</p>
                    <p>Wrong Answers : <span id="wrong-answers"></span></p>
                    <p>Right Answers : <span id="right-answers"></span></p>
                    <p>Grade : <span id="grade-percentage"></span>%</p>
                    <p><span id="remarks"></span></p>
                </div>

                <div class="modal-button-container">
                    <button onclick="closeScoreModal()">Continue</button>
                </div>

            </div>
        </div>
        <!-- end of modal of quiz details-->

        <div class="game-quiz-container">

            <div class="d-flex w-100 justify-content-around">
                <div>
                    <h4>Subject : <span id="subject-name"></span>{{quiz.subject}}</h4>
                    <h4>Question : <span id="question-number"></span> <span id="q_count"></span>/{{quiz.no_of_questions}}</h4>
                </div>
                <div>
                    <h5>Timer : <span id="time_limit">{{quiz.time_limit}}</span></h5>
                    <div>
                        <a type="button" href="/student/" class="btn btn-danger">Back Home</a>
                    </div>
                </div>
            </div>

            {% csrf_token %}
            <div class="game-question-container">
                <h1 id="display-question">Question loading..</h1>
            </div>

            <div class="game-options-container">

                <div class="modal-container" id="option-modal">

                    <div class="modal-content-container">
                        <h1>Please Pick An Option</h1>

                        <div class="modal-button-container">
                            <button onclick="closeOptionModal()">Continue</button>
                        </div>

                    </div>

                </div>

                <span>
                    <input type="radio" id="option-one" name="option" class="radio" />
                    <label for="option-one" class="option" id="option-one-label">Option 1</label>
                </span>


                <span>
                    <input type="radio" id="option-two" name="option" class="radio" />
                    <label for="option-two" class="option" id="option-two-label">Option 2</label>
                </span>


                <span>
                    <input type="radio" id="option-three" name="option" class="radio"/>
                    <label for="option-three" class="option" id="option-three-label">Option 3</label>
                </span>


                <span>
                    <input type="radio" id="option-four" name="option" class="radio"/>
                    <label for="option-four" class="option" id="option-four-label">Option 4</label>
                </span>


            </div>

            <div class="next-button-container">
                <button id="prevQBtn">Previous</button>
                <button class="btn btn-primary" id="nextQBtn">Next</button>
                <button class="btn btn-primary" onclick="handelEvaluteQuiz('{{quiz.quiz_id}}')" id="SubmitQuiz" hidden>SUBMIT</button>
            </div>

        </div>
    </main>


    <input type="hidden" name="b7367264gfhgsf-hjsdgfhjg76473hdsf-dsf76ygfdsh-u5u4ghdfgsh" id="b7367264gfhgsf-hjsdgfhjg76473hdsf-dsf76ygfdsh-u5u4ghdfgsh" required>
</body>
<script>


    
    
    const url = '/quiz/api/quiz-attempt/questions/?quiz_uid={{quiz.quiz_id}}';
    const quiz_time = parseInt('{{quiz.time_limit}}');
    let c = quiz_time*60;
    async function get_quiz_questions_from_api_call() {
        const result = (await fetch(url)).json();
        return result;
    }

    function handelEvaluteQuiz(quiz_id){
        $.ajax({
            url: "/quiz/api/evaluate-quiz/?quiz_id={{quiz.quiz_id}}",
            type: "POST",
            data: { 
                'quiz_id' : '{{quiz.quiz_id}}',
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
			},
            success: function(response) {
				response = JSON.parse(response);
                console.log(response);
                window.location.href = "/student?Quiz=Submitted";
				// if (response.answer_added == true && response.msg == 'success' && response.status_code == 200){
				// 	return true;
				// }
				// else{
				// 	return false;
				// }
            },
            failure: function () {
                return false;
            }
        });
    }
    
    async function attempt_quiz_answer(question_id, answer_id){
        $.ajax({
            url: "/quiz/api/attempt-quiz-answer/?quiz_id={{quiz.quiz_id}}",
            type: "POST",
            data: { 
				'question_id': question_id, 
				'answer_id': answer_id,
                'quiz_id' : '{{quiz.quiz_id}}',
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
			},
            success: function(response) {
				response = JSON.parse(response);
				if (response.answer_added == true && response.msg == 'success' && response.status_code == 200){
					return true;
				}
				else{
					return false;
				}
            },
            failure: function () {
                return false;
            }
        });
    }
    
       
    (async function   () {
        var result = await get_quiz_questions_from_api_call();
        const Questions = result.data;
        // Set start
        var start = true;
        var selected, quid;
        // Iterate
        function iterate(id) {
            
            
            
            // Getting the question
            const display_question = document.getElementById("display-question");
            document.getElementById("q_count").innerHTML = id+1;
            
            var radios = document.querySelectorAll("input[type=radio]");
            for(var i=0; i<radios.length; ++i) {
                radios[i].checked = false;
            }
            
            // Setting the question text
            display_question.innerText = Questions[id].question; 
            quid = Questions[id].question_id;
            // Getting the options
            const op1 = document.getElementById('option-one-label');
            const op2 = document.getElementById('option-two-label');
            const op3 = document.getElementById('option-three-label');
            const op4 = document.getElementById('option-four-label');
    
    
            // Providing option text
            document.getElementById('option-one').value = Questions[id].answers[0].answer_id;
            op1.innerText = Questions[id].answers[0].answer;

            document.getElementById('option-two').value = Questions[id].answers[1].answer_id;
            op2.innerText = Questions[id].answers[1].answer;

            document.getElementById('option-three').value = Questions[id].answers[2].answer_id;
            op3.innerText = Questions[id].answers[2].answer;

            document.getElementById('option-four').value = Questions[id].answers[3].answer_id;
            op4.innerText = Questions[id].answers[3].answer;
    
    
            
    
            // Show selection for op1
            op1.addEventListener("click", () => {
                selected= document.getElementById('option-one').value;
            })
    
            // Show selection for op2
            op2.addEventListener("click", () => {
                selected = document.getElementById('option-two').value;
            })
    
            // Show selection for op3
            op3.addEventListener("click", () => {
                selected= document.getElementById('option-three').value;
            })
    
            // Show selection for op4
            op4.addEventListener("click", () => {
                selected = document.getElementById('option-four').value;
            })
    
    
        }
    
        if (start) {

            iterate("0");
            timedCount();
            
        }
    
        // Next button and method
        const next = document.getElementById('nextQBtn');
        const prev = document.getElementById('prevQBtn');
        var id = 0;



    
        next.addEventListener("click", () => {
            start = false;
            next.disabled = true;
            next.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading..`;

            if(attempt_quiz_answer(quid, selected)){
                next.disabled = false;
                next.innerHTML = `Save & Next`;
                console.log("SUCCESS");
            } 
            else{
                next.disabled = false;
            next.innerHTML = `Save & Next`;
                console.log("FAILED");
            }

            if(id+1 == Questions.length){
                next.hidden = true;
                document.getElementById("SubmitQuiz").hidden = false;
            }
            else{
                document.getElementById("SubmitQuiz").hidden = true;
                next.hidden = false;
            }

            if (id < Questions.length-1) {
                id++;
                iterate(id);
            }


    
        })

        prev.addEventListener("click", () => {
            if(id+1 == Questions.length){
                next.hidden = true;
                document.getElementById("SubmitQuiz").hidden = false;
            }
            else{
                document.getElementById("SubmitQuiz").hidden = true;
                next.hidden = false;
            }
            start = false;
            if (id > 0) {
                id--;
                iterate(id);
            }
    
        })

        


    })();


    function timedCount() {
		if(c == 0) return false; 
		var hours = parseInt( c / 3600 ) % 24;
		var minutes = parseInt( c / 60 ) % 60;
		var seconds = c % 60;
		var result = (hours < 10 ? "0" + hours : hours) + ":" + (minutes < 10 ? "0" + minutes : minutes) + ":" + (seconds  < 10 ? "0" + seconds : seconds);            
		$('#time_limit').html(result);
		c--;
		if(c == 0 ) {
            $('#quiz_attempt_main_container').html('<h1>Time Over, Quiz Ended!</h1>'); 
            window.location.href = "/student?Quiz=Ended";
        }
        
		t = setTimeout(function() {
			timedCount()
		},1000);
	}




    
    </script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

</html>