<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>I N T E L L I F Y</h3>
    <div class="h-100 d-flex align-items-center justify-content-center" style="font-family: cursive; margin-top: 7%;">
        <div class="shadow mb-5 bg-white rounded p-5 bg-light">
            <h2 style="font-family: monospace;" class="text-warning" >You have submitted quiz</h2>
            <div class="my-5">
                <p>You scored: <b><span>60%</span></b></p>
                <footer class="blockquote-footer">Average score of your class is <cite title="Source Title">50%</cite></footer>
            </div>
    
            <div>
                <p>Total Questions: <b><span>5</span></b></p>
                <p>Correct: <b><span>3</span></b></p>
                <p>Wrong: <b><span>2</span></b></p>
            </div>
            <div class="d-flex justify-content-between">
                <button class="btn btn-secondary">Back Home</button>
                <a href="#" class="link-info">View detailed analysis</a>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</html>